<ion-view cache-view="false" view-title="{{user.user_name}}">
  <ion-nav-bar class="bar-calm">
  </ion-nav-bar>
  <ion-nav-buttons side="primary">
    <button class="button" ng-if="user != currentUser" ng-click="displayProfile(currentUser)">
      Back
    </button>
  </ion-nav-buttons>
  <ion-content class="stable-bg has-bg" ng-style="{'background-image': 'url(\'' + 'img/bg.png' + '\')'}">
    <div class="list card profile-top text-center">
      <div class="item item-text-wrap">
        <div ng-if="hasInvitedCurrentUser">
          <button ng-if="hasInvitedCurrentUser && !justConfirmedFriendship && !justBlockedFriendship"
                  class="button button-icon ion-checkmark calm" ng-controller="FriendshipCtrl"
                  ng-click="confirmFriendshipRequest(user)" ng-style="{'font-size': '12px'}"> Accept request
          </button>
          <button ng-if="hasInvitedCurrentUser && !justConfirmedFriendship && !justBlockedFriendship"
                  class="button button-icon ion-close assertive" ng-controller="FriendshipCtrl"
                  ng-click="blockFriendshipRequest(user)" ng-style="{'font-size': '12px'}">&nbspBlock
          </button>
        </div>
        <small>{{friendship_request_message}}</small>
        <small>{{friendship_confirmation_message}}</small>
        <small>{{friendship_block_message}}</small>
        <small ng-if="isFriend">You are friends.</small>
        <small ng-if="requestPending">Your request for friendship is pending.</small>
        <small ng-if="blockedByCurrentUser">You have blocked this user.</small>
        <small ng-if="hasInvitedCurrentUser && !justConfirmedFriendship && !justBlockedFriendship">This user has
          requested to be your friend.
        </small>
        <button ng-if="user == currentUser" class="button button-icon ion-edit calm" ng-click="openSkills()"
                ng-style="{'font-size': '12px'}"> Edit profile
        </button>
        <button
          ng-if="(user != currentUser) && !isFriend && !requestPending  && !requestJustSent && !hasInvitedCurrentUser && !blockedByCurrentUser"
          class="button button-icon ion-edit calm"
          ng-controller="FriendshipCtrl"
          ng-click="sendFriendshipRequest(user)"
          ng-style="{'font-size': '12px'}">
          Add as friend
        </button>
        <img gravatar-src="user.email" class="avatar-profile">
        <h2 class="font-thin">{{user.user_name}}</h2>
        <p class="text-muted">{{user.mentor ? 'Mentor' : 'Mentee'}}
          <span ng-if="user.city">- {{user.city}}, {{user.country}}</span>
        </p>
        <p ng-if="user.introduction" class="text-muted">{{user.introduction}}</p>
        <div ng-if="user == currentUser" class="padding">
          <button class="button button-calm" ng-click="unifyMe(currentUser.id);">Unify me!</button>
        </div>
        <br>
        <small ng-if="user.skills.length">
          <strong>Skills: </strong>
          <span ng-repeat="skill in user.skills">{{skill}}, </span>
        </small>
        <!--ng-map class="map" center="currentUser.latitude, currentUser.longitude" zoom="15" disable-default-u-i="true" scrollwheel="false">
          <marker position="currentUser.latitude, currentUser.longitude" animation="Animation.DROP" centered="true"
                  dragglele="true" title="Current Position"></marker>
        </ng-map-->

      </div>
    </div>
    <div class="list card" id="list" ng-if="matches.length">
      <div class="item item-divider">
        My Unify matches
      </div>
      <div class="item b-none">
        <div class="row row-top">
          <p><i class="icon ion-person-stalker"></i> {{matches.length}} potential matches</p>
        </div>
        <div class="item item-avatar" ng-repeat="match in matches" ng-click="displayProfile(match.user)">
          <img gravatar-src="item.user.email">
          <h2>{{match.user.user_name}} </h2>
          <!-- We are not sending city and country -->
          <small ng-if="match.user.city">{{match.user.city}}, {{match.user.country}} -</small>
          <small ng-repeat="skill in match.user.skills">{{skill}}
          </small>
        </div>
      </div>
    </div>

    <!--div class="list card">
      <div class="item b-none">
        <div class="row row-top">
          <div class="col-67">
            <h2>Activity</h2>
            <p>7,229 followers</p>
          </div>
          <div class="col-33 text-right">
            <button class="button button-small button-calm button-outline">
              Following
            </button>
          </div>
        </div>
      </div>
      <div class="item item-avatar" ng-repeat="i in [0,1,2,3,4]">
        <img src="img/adam.jpg" alt="" class="avatar-organization">
        <h2><b>We moved to the new office</b></h2>
        <p>Ha shared</p>
      </div>
      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See more</b></button>
      </div>
    </div-->

    <!--div class="list card">
      <div class="item item-divider">
        Highlights
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1]">
        <img src="img/ben.png" alt="">
        <h2><b>78 mutual connections</b></h2>
        <p>You and Nam both know Hung Nguyen, Tan and 76 others</p>
      </div>
    </div-->

    <!--div class="list card">
      <div class="item item-divider">
        Experience
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Technical Recruiter</b></h2>
        <p>Criteoh</p>
        <p>May 2015 - Now · 9 mos</p>
      </div>

      <div class="item item-divider">
        Education
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Hanoi University of Technologies</b></h2>
        <p>BS</p>
        <p>2006 - 2011</p>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See more</b></button>
      </div>
    </div-->

    <!--div class="list card">
      <div class="item item-divider">
        Skills & Endorsements
      </div>
      <div class="item item-icon-right item-text-wrap" ng-repeat="i in [0,1,2]">
        <div class="row row-center">
          <div class="col-67">
            <h2><b>Human Resources</b></h2>
          </div>
          <div class="col-33 text-right">
            <span class="text-muted">+99</span>
            <img src="img/ben.png" class="avatar-small box-shadow">
          </div>
        </div>
        <i class="icon ion-plus-circled calm"></i>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See 33 more</b></button>
      </div>
    </div-->

    <!--div class="list card">
      <div class="item item-divider">
        Groups
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2]">
        <img src="img/mike.png" alt="" class="avatar-organization">
        <h2><b>Havard Business Review</b></h2>
        <p>102 new conversations</p>
      </div>

      <div class="item item-divider text-center">
        <button class="button button-clear button-calm"><b>See 15 more</b></button>
      </div>
    </div-->

    <!--div class="list card-transparent">
      <div class="item item-divider text-center">
        People also viewed
      </div>
      <div class="item item-avatar item-text-wrap" ng-repeat="i in [0,1,2,3,4]">
        <img src="img/ben.png" alt="">
        <h2><b>Optimus Prime</b>· 2nd</h2>
        <p>HR Director at Some Big Company</p>
      </div>
    </div-->
  </ion-content>
  <!--div class="button-fab calm-bg box-shadow">
    <i class="icon ion-plus"></i>
  </div-->
</ion-view>
