<ion-view>
  <ion-nav-title>
    <span class="logo-text">pU</span>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-grid" ng-click="toggleMenu()"></button>
  </ion-nav-buttons>

  <div class="bar bar-subheader box-shadow">
    <div class="button-bar">
      <a class="button button-light icon-left ion-compose has-border-right" ng-click="openPost()">Share</a>
      <a class="button button-light icon-left ion-camera" ng-click="openPost()">Photo</a>
    </div>
  </div>

  <ion-content class="has-subheader stable-bg">
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-chevron-up"></ion-refresher>

    <div class="list card new-feeds" ng-repeat="feedItem in activityFeed.feed">
      <div class="item item-avatar">
        <img src="img/icon.jpg">
        <h2><b>{{feedItem.from.name}}</b></h2>
        <p><time-ago from-time='{{ feedItem.created_time }}' format='MM/dd/yyyy'></time-ago></p>
      </div>

      <div class="item item-body post-body" ng-click="selectFeed(feedItem)">
        <p class="post-text">
          {{feedItem.message | limitTo: 140 }}{{feedItem.message.length > 140 ? '...' : ''}}
        </p>
      </div>

      <div ng-if="feedItem.picture && feedItem.status_type !== 'shared_story' " class="item item-image">
        <img ng-src="{{'https://graph.facebook.com/'+feedItem.object_id+'/picture'}}">
      </div>

      <div class="item item-body post-body">
        <p>
          <span ng-if="feedItem.likes.data.length > 0" class="subdued">{{feedItem.likes.data.length}} {{feedItem.likes.data.length < 1 ? 'Like' : 'Likes'}}</span>·
          <span ng-if="feedItem.comments.data.length > 0" class="subdued">{{feedItem.comments.data.length}} {{feedItem.comments.data.length < 1 ? 'Comment' : 'Comments'}}</span>
        </p>
      </div>
    </div>

    <!-- Recommended jobs -->
    <!--div class="list card">
      <div class="item">
        <h2>Jobs recommended for you</h2>
      </div>

      <div class="item item-avatar item-text-wrap" ng-repeat="item in [0,1,2]">
        <img src="img/adam.jpg" class="avatar-organization">
        <h2><b>Product Management Manager, Finance</b></h2>
        <p>ABB bank, Ho Chi Minh</p>
      </div>
    </div-->

  </ion-content>
</ion-view>
