<ion-modal-view>
  <ion-header-bar class="no-bg b-none">
    <h1 class="title">Post</h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeViewPost()"></button>
  </ion-header-bar>

  <ion-content class="padding has-footer">
    <ion-refresher on-refresh="refresh()" pulling-icon="ion-chevron-up"></ion-refresher>

    <div class="list new-feeds">
      <div class="item item-avatar">
        <img src="{{selectedFeedItem.from.id === '1660157410904515' ? 'img/icon.png' : 'https://graph.facebook.com/'+selectedFeedItem.from.id+'/picture'}}">
        <h2><b>{{selectedFeedItem.from.name}}</b></h2>
        <p>{{selectedFeedItem.created_time | timeAgo}}</p>
      </div>

      <div class="item item-body post-body">
        <p class="post-text">{{selectedFeedItem.message}}</p>
      </div>

      <div ng-if="selectedFeedItem.picture && selectedFeedItem.status_type !== 'shared_story'" class="item item-image">
        <img ng-src="{{'https://graph.facebook.com/'+selectedFeedItem.object_id+'/picture'}}">
      </div>

      <div class="item item-body post-body">
        <p>
          <span ng-if="selectedFeedItem.likes.data.length > 0" class="subdued">{{selectedFeedItem.likes.data.length}} {{selectedFeedItem.likes.data.length < 1 ? 'Like' : 'Likes'}}</span>·
          <span ng-if="selectedFeedItem.comments.data.length > 0" class="subdued">{{selectedFeedItem.comments.data.length}} {{selectedFeedItem.comments.data.length < 1 ? 'Comment' : 'Comments'}}</span>
        </p>
      </div>

      <!--div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div-->


      <!-- Comments -->
      <div class="item item-divider no-bg b-none">Comments</div>
      <div class="post-body" ng-repeat="comment in selectedFeedItem.comments.data">
        <div class="row no-padder">
          <div class="col-80">
            <p><b>{{comment.from.name}}</b></p>
          </div>
          <div class="col-20 text-muted text-right">
            <small>{{comment.created_time | timeAgo}}</small>
          </div>
        </div>
        <div class="dark text-wrap">{{comment.message}}</div>
      </div>
      <div class="item item-divider"></div>
    </div>
  </ion-content>

  <!--div class="bar bar-footer sub-footer item-input-inset">
    <label class="item-input-wrapper">
      <input type="search" placeholder="Add a comment">
    </label>
    <button class="button button-clear">
      Submit
    </button>
  </div-->
</ion-modal-view>
