<ion-modal-view class="bg-gradient">
  <ion-header-bar class="no-bg b-none">
    <h1 class="title"></h1>
    <button class="button button-icon button-clear button-light ion-android-close" ng-click="closeSkills()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list card">
      <label class="item item-input">
        <span class="input-label">Skills</span>
        <input type="text" ng-model="data.skills" focus-me>
      </label>
    </div>

    <button class="button button-block button-outline button-light" ng-click="doSkillsUpdate(data.skills)"><b>Update skills</b></button>

  </ion-content>
</ion-modal-view>
