<ion-view cache-view="false" view-title="Messaging">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-compose" ng-click="openNewConversation()"></button>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <div class="list list-messages">
      <div class="item"  ng-repeat="conversation in conversations" ui-sref="chat({conversation: conversation})">
        <div class="row">
          <div class="col col-offset-5">
            <h2>{{conversation.from.user_name}}</h2>
            <p>
              {{conversation.subject}}
            </p>
          </div>
          <div class="col col-bottom text-right text-muted">
            <small>
              <time-ago from-time='{{ conversation.messages[conversation.messages.length-1].sent }}' format='MM/dd/yyyy'></time-ago>
            </small>

          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
