<ion-view cache-view="false" view-title="Messaging">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-compose"></button>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <div class="list list-messages">
      <div class="item"  ng-repeat="conversation in conversations" ui-sref="chat({conversation: conversation})">
        <div class="row">
          <div class="col-75">
            <h2>{{conversation.from.user_name}}</h2>
            <p>
              {{conversation.subject}}
            </p>
          </div>
          <div class="col-25 text-right text-muted">
            Nov 3
          </div>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
